<header>
    <h1>Liste des tâches</h1>
    <button mat-raised-button color="primary" (click)="openModalAddTask()">Ajouter</button>
</header>
<div class="tasks">
    <div class="task" *ngFor="let task of tasks">
        <div class="content">
            <h3>{{ task.name }}</h3>
            <p>Date d'échéance : {{ task.dueDate | date: 'd/MM/y' }}</p>
        </div>
        <div class="actions">
            <span class="material-icons" (click)="openModalDeleteTask(task)">delete</span>
            <span class="material-icons" (click)="completeTask(task.id)">check_circle_outline</span>
            <span class="material-icons" (click)="openModalEditTask(task)">edit</span>
        </div>
    </div>
</div>