<div class="modal">
    <h1>Modification d'une tâche</h1>
    <form class="form" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="field">
            <mat-label>Titre</mat-label>
            <input [ngModel]="task.name" matInput formControlName="title">
        </mat-form-field>
        <mat-form-field class="field">
            <mat-label>Date d'échéance</mat-label>
            <input [ngModel]="task.dueDate" matInput [matDatepicker]="picker" formControlName="dueDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="taskForm.invalid || dateNotIsPast || taskForm.pristine">Ajouter</button>
    </form>
</div>